USE [DBase]
GO


CREATE TABLE [dbo].[ProductCategoryTable](
	[ProductCategoryID] [int] NOT NULL,
	[ProductCategoryName] [nvarchar](15) NOT NULL
) 
GO


CREATE TABLE [dbo].[ProductQuantitySold](
	[ProductID] [int] NULL,
	[Qty] [int] NULL
) 
GO


CREATE TABLE [dbo].[ProductsTable](
	[ProductID] [int] IDENTITY(1,1) PRIMARY KEY,
	[ProductCategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[SellingPrice] [money] NOT NULL)
GO


CREATE TABLE [dbo].[ProductStockByYear](
	[ProductCategoryName] [nvarchar](15) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[StockYear] [int] NULL,
	[EndStock] [int] NULL
) 
GO

INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (1, N'Knives')
INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (2, N'Utensils')
INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (3, N'Toaster')
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (1, 8)
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (2, 2)
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[ProductsTable] ON 

INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (1, 1, N'Folding Knives', 15.1300)
INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (2, 1, N'Pocket Knives', 10.0000)
INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (3, 1, N'Fixed-Blade Knives', 19.9700)
SET IDENTITY_INSERT [dbo].[ProductsTable] OFF
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2013, 987)
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2014, 818)
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2015, 925)
