USE [DBase]
GO
 

 --Command to create a table named SalesOrderValues
CREATE TABLE [SalesOrderValues](
	[orderid] [int] NOT NULL,
	[custid] [int] NULL,
	[empid] [int] NOT NULL,
	[shipperid] [int] NOT NULL,
	[orderdate] [datetime] NOT NULL,
	[requireddate] [datetime] NOT NULL,
	[shippeddate] [datetime] NULL,
	[qty] [int] NULL,
	[val] [numeric](12, 2) NULL
) 

GO

--Command to insert the records in the table named SalesOrderValues
INSERT INTO [SalesOrderValues] ([orderid], [custid], [empid], [shipperid], [orderdate], [requireddate], [shippeddate], [qty], [val]) VALUES (10248, 85, 5, 3, CAST('2006-07-04 00:00:00.000' AS DateTime), CAST('2006-08-01 00:00:00.000' AS DateTime), CAST('2006-07-16 00:00:00.000' AS DateTime), 27, CAST(440.00 AS Numeric(12, 2)))
INSERT INTO [SalesOrderValues] ([orderid], [custid], [empid], [shipperid], [orderdate], [requireddate], [shippeddate], [qty], [val]) VALUES (10249, 79, 6, 1, CAST('2006-07-05 00:00:00.000' AS DateTime), CAST('2006-08-16 00:00:00.000' AS DateTime), CAST('2006-07-10 00:00:00.000' AS DateTime), 49, CAST(1863.40 AS Numeric(12, 2)))
INSERT INTO [SalesOrderValues] ([orderid], [custid], [empid], [shipperid], [orderdate], [requireddate], [shippeddate], [qty], [val]) VALUES (10250, 34, 4, 2, CAST('2006-07-08 00:00:00.000' AS DateTime), CAST('2006-08-05 00:00:00.000' AS DateTime), CAST('2006-07-12 00:00:00.000' AS DateTime), 60, CAST(1552.60 AS Numeric(12, 2)))
GO

Go


